/* style.css */

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
}

#logo img {
    width: 50px;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu a {
    margin-right: 20px;
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
}

#menu a:hover {
    text-decoration: underline;
}

#menu a:last-child {
    margin-right: 0;
}

#menu a:focus {
    text-decoration: underline;
}

#menu a:visited {
    color: #333;
}

#menu a:active {
    text-decoration: underline;
}

#menu a:focus {
    outline: none;
}

#carrinho img {
    width: 50px;
}

#carrinho span {
    font-weight: bold;
}

main {
    padding: 20px;
}

#produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.produto {
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.produto img {
    width: 100%;
}

.produto h2 {
    margin: 20px 0;
}

.produto a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.produto a:hover {
    background-color: #555;
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Exemplo de estilo para o botão "Adicionar ao carrinho" */
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Exemplo de estilo para o campo de quantidade */
input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

#produto-detalhes {
    width: 50%;
    margin: auto;
    border: 1px solid #ccc;

}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

#cadastro, #descricao-empresa{
    margin: auto;
    width: 50%;
}